.Timeline {
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
}

.Timeline-Row {
    display: flex;
    border-bottom: 1px solid grey;
}

.Timeline-Row--firstrow .Timeline-Row-Duration--firstrow{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Timeline-Row-Time {
    flex-basis: 20%;
    border-right: 1px solid grey;
}

.Timeline-Row-Duration {
    flex-basis: 80%;
    position: relative;
}